{% extends "layout.html" %}

{% block content%}

    <h1>Aplicatie de postat chestii</h1>
    <h4>Totul a inceput frumos, apoi s-a transformat intr-un monstru care m-a depasit putin...</h4>
    <p><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, consequatur sapiente illo explicabo 
    recusandae id reiciendis expedita laborum nulla asperiores atque quaerat, placeat repellat optio quas voluptas 
    ullam natus rem!</p>
    <p><br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam accusantium perferendis quisquam omnis nemo,
    obcaecati accusamus est quidem natus adipisci ad quos placeat nesciunt odit, voluptates enim dolorum delectus rem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestias nulla harum numquam inventore 
    necessitatibus cupiditate quisquam quibusdam error expedita? Illo nam possimus aliquam quasi
    voluptatibus eligendi quae esse consequatur!    </p>
{% endblock content %}


